<!-- development version, includes helpful console warnings -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>CHG Recognition</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js" integrity="sha256-NSuqgY2hCZJUN6hDMFfdxvkexI7+iLxXQbL540RQ/c4=" crossorigin="anonymous"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <!-- Bootstrap and dependencies-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- local styles -->
    <link rel="stylesheet" type="text/css" href="style/style.css"/>
    <style>
        .submittedBy, .nomineeId {
            font-size: xx-small;
        }
    </style>
</head>
<body>
<div class="header">
    <div class="row">
        <div class="col-sm-4 col-md-3">
            <img src="assets/logo.png"/>
            <div class="recognition">Recognition</div>
        </div>
        <div class="col-sm-8 col-md-9 header-text">
            Nomination History
        </div>
    </div>
</div>
<hr/>
<div id="app">
    <input v-model="message">
    {{ message }}
    <br>
    <hr>



    <div id="users" class="table">
        <h1>Users </h1>
        <table>
            <thead>
                <th>Name</th>
                <th>Points</th>
                <th>Nomination Points</th>
                <th>Login</th>
                <th>Id</th>
            </thead>
            <tbody>
                <tr v-for="u in users">
                    <td>{{u.name}}</td>
                    <td>{{u.points}}</td>
                    <td>{{u.nominationPoints}}</td>
                    <td>{{u.login}}</td>
                    <td>{{u._id}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <button-counter title="blah"></button-counter>
    <button-counter></button-counter>

    <div id="nominations">
        <h1>Nominations</h1>
        <div class="card-list">
        <nomination-card
                v-for="n in nominations"
                v-bind:nomination="n"
                v-bind:nominator="usersById[n.nominatorId]"
                v-bind:nominee="usersById[n.nomineeId]"
                v-bind:key="n._id"
                class="nomination-card"
        >
            <button-counter></button-counter>

        </nomination-card>
        </div>
    </div>
</div>
</body>
<script type="application/ecmascript">

    Vue.component('button-counter', {
        props: ['title'],
        data: function () {
            return {count: 0}
        },
        template: '<button v-on:click="count++"><b v-if="title">{{title}}:</b> You clicked me {{count}} times.</button>'
    })

    Vue.filter('formatDate', function(value) {
        if (value) {
            const dateTimeFormat = new Intl.DateTimeFormat('en', { year: 'numeric', month: 'numeric', day: 'numeric' }) 
            const [{ value: month },,{ value: day },,{ value: year }] = dateTimeFormat.formatToParts(new Date(String(value)))

            return `${month}/${day}/${year}`
        }
    })

    Vue.component('nomination-card', {
        props: ['nomination', 'nominator', 'nominee'],
        template: '' +
            '<div class="card mt-3" style="width: 30rem;">' +
            '   <div class="row">' +
            '       <div class="col-md-12 nominee" style="color: #F48221; text-align: center; font-weight: bold">{{ nominee.name }}</div>' +
            '       <div class="col-md-8 core-value" style="color: #00A3E4">{{ nomination.coreValue }}</div>' +
            '       <div class="col-md-4 points" style="color: #82B941; font-weight: bold">{{ nomination.points }} Points</div>' +
            '       <div class="col-md-8 nominator" style="font-size: small">Nominated by {{ nominator.name }}</div>' +
            '       <div class="col-md-4 date" style="font-size: small">{{ nomination.date | formatDate }}</div>' +
            '       <div class="col-md-12 message">{{ nomination.message }}</div>' +
            '   </div>' +
            '</div>'
    })

    var app = new Vue({
        el: '#app',
        data: {
            message: 'New Todo item text',
            seen: true,
            showTodos: false,
            users: [],
            usersById: {},

            nominations: [],
        },

        mounted () {
            axios.get('https://chg-recognition.curtisporter.com/nominations/')
                .then((response) => (this.nominations = response.data))

            axios.get('https://chg-recognition.curtisporter.com/users/')
                .then(response =>  {
                    this.users = response.data
                    this.usersById = this.users.reduce(function(usersById, obj){usersById[obj._id] = obj; return usersById}, {})
                    console.log(this.users.filter(user => user._id === '5e729a3c6ea33327d2851b4f'))
                })

        }
    });
</script>
</html>

