<!-- development version, includes helpful console warnings -->

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>CHG Recognition</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js" integrity="sha256-NSuqgY2hCZJUN6hDMFfdxvkexI7+iLxXQbL540RQ/c4=" crossorigin="anonymous"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js" integrity="sha256-T/f7Sju1ZfNNfBh7skWn0idlCBcI3RwdLSS4/I7NQKQ=" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <style>
        .submittedBy, .nomineeId {
            font-size: xx-small;
        }
    </style>
</head>
<body>
<div id="app">
    <input v-model="message">
    {{ message }}
    <br>
    <button v-on:click="reverseTodos">Reverse todos</button>
    <button v-on:click="addTodo">Add todo item</button>
    <hr>



    <div id="users">
        Users like {{usersById[users[0]._id].name}}
        <ul>
            <li v-for="u in users">
                name: {{u.name}} id: {{u._id}}
            </li>
        </ul>
    </div>

    <div id="nominations">
        <h1>Nominations</h1>
        <ul>
            <nomination-container
                    v-for="n in nominations"
                    v-bind:nomination="n"
                    v-bind:usersByIdMap="usersById"
                    v-bind:key="n._id"
            ></nomination-container>
        </ul>
    </div>
</div>
</body>
<script type="application/ecmascript">


    Vue.component('nomination-container', {
        props: ['nomination', 'usersByIdMap'],
        template: '' +
            '<li class="nomination">' +
            '   <div class="core-value">{{ nomination.coreValue }}</div>' +
            '   <div class="message">{{ nomination.message }}</div>' +
            '   <div class="points">{{ nomination.points }}</div>' +
            '   <div class="submittedBy">{{ nomination.nominatorId }}</div>' +
            '   <div class="nomineeId">{{ nomination.nomineeId }}</div>' +
            '   <div class="date">{{ nomination.date }}</div>' +
            // '   <div class="nomineeUser">{{ usersByIdMap["5e729a3c6ea33327d2851b4f"].name }}</div>' +
            '</li>'
    })

    var app = new Vue({
        el: '#app',
        data: {
            message: 'New Todo item text',
            seen: true,
            showTodos: false,
            users: [],
            usersById: {},

            nominations: [],
        },

        mounted () {
            axios.get('https://chg-recognition.curtisporter.com/nominations/')
                .then((response) => (this.nominations = response.data))

            axios.get('https://chg-recognition.curtisporter.com/users/')
                .then(response =>  {
                    this.users = response.data
                    this.usersById = this.users.reduce(function(usersById, obj){usersById[obj._id] = obj; return usersById}, {})
                    console.log(this.users.filter(user => user._id === '5e729a3c6ea33327d2851b4f'))
                })

        }
    });
</script>
</html>